@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="icon" href="./img/logo app 1.png">
<link rel="stylesheet" href="~/css/main.css" />
<body>
    <section>
        <div class="logo-name">
            <img src="./img/logo app 1.png">
            <h2>lifeReminder</h2>
        </div>
        <div class="links">
            <a asp-area="Identity" asp-page="/Account/Login">login</a>
            <a asp-area="Identity" asp-page="/Account/Register">register</a>
        </div>
    </section>
    <div class="main">

        <h1>
            Organize it all <br>with
            lifeReminder
        </h1>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            Get Started
        </a>
    </div>


</body>