

@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="icon" href="./img/logo app 1.png">
<link rel="stylesheet" href="~/css/privacy.css" />

    <div class="right-shape"></div>
    <div class="top-header">
        <h2> About lifeReminder</h2>
        <p>welcome to lifeReminder a web application using ASP.NET Core that helps you organize work & life ,lifeReminder gives you the confidence that everything’s organized and accounted for, so you can make progress on the things that are important to you.</p>
    </div>
    <div class="left-shape"></div>
