* {
    background-color: white;
}

body {
    background-color: white;
}
.confirm-email-container {
    border: none;
    background-color: white;
    margin: 10px;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 530px;
    margin-top: 240px;
}