* {
    background-color: white;
}

body {
    background-color: white;
}
.forgot-password-container {
    border: none;
    margin: 10px;
    height: fit-content;
    margin-left: 600px;
    margin-top: 190px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.gray-space {
    background-color: #323a45;
    height: 60px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#login-icon {
    background-color: transparent;
    font-size: 25px;
    color: white;
    margin-top: 18px;
}
form {
    background-color: inherit;
    padding: 30px 20px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    form div {
        background-color: inherit;
    }

    form span {
        background-color: inherit;
    }

    form label {
        background-color: inherit;
    }

h1 {
    font-size: 20px;
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
}

.change-color {
    color: var(--main-bg-color);
    background-color: inherit;
}

.champ {
    background-color: white;
    border: 1px solid #e4e4e4;
    padding: 5px 5px;
    margin: 6px 10px;
    border-radius: 2px;
    width: 230px;
    font-size: 15px;
}

form input::placeholder {
    color: #acacac;
}
.forgot-password-container button {
    width: 230px;
    cursor: pointer;
    padding: 5px 14px;
    color: white;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    border: none;
    font-size: 15px;
    margin-top: 20px;
}
    .forgot-password-container button:hover {
        background-color: var(--main-bg-color-hover);
    }