* {
    background-color: white;
}

body {
    background-color: white;
}



.login-container {
    border: none;
    background-color: white;
    height: fit-content;
    margin-left: 530px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
form {
    background-color:inherit;
    padding:30px 20px;
    text-align: center;
}
form div 
{
    background-color:inherit;
}
form span 
{
    background-color:inherit;
}
form label
{
    background-color:inherit;
}
h1 {
    font-size: 20px;
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
}

.change-color {
    color: var(--main-bg-color);
    background-color: inherit;
}

.champ {
    background-color:white;
    border-bottom:1px solid #e4e4e4;
    border-top:none;
    border-right:none;
    border-left:none;
    padding: 5px 5px;
    margin: 6px 10px;
    border-radius: 2px;
    width: 300px;
    font-size:15px;
}

    form input::placeholder {
        color: #acacac;
    }

.login-btn {
    width: 300px;
    cursor: pointer;
    padding: 5px 14px;
    color: white;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
}

    .login-btn:hover {
        background-color: var(--main-bg-color-hover);
    }

.back-link {
    font-size: 15px;
    cursor: pointer;
    color: #666666;
}

    .back-link:hover {
        color: black;
    }

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
}

form a {
    margin-top: 5px;
}
.links 
{
    width:400px;
    margin-top:7px;
    display:flex;
    justify-content:space-around;
}
.login-container>img
{
    width:130px;
    height:130px;
    margin-left:150px;
    margin-top:90px;
}
.buttons>p{
    margin-top:5px;    
    font-size:14px;
    color:#808080;
}